<!-- CSS Styles -->
<style>
    /* Common styles */
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    h5 {
        color: #ff0000;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #ccc;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #333;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        display: block;
        margin: 40px auto;
        border-radius: 70%;
    }
</style>

<!-- HTML Content -->
<table class="custom-table" align="center">
    <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
    </tr>

    {% for author in tabAuthors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.username }}</td>
            <td>{{ author.email }}</td>
        </tr>
    {% endfor %}
</table>
